
/*fuente chat GPT */
  
  /*Logo redondo */
  @media (max-width: 600px) {
    #logo {
      animation-name: none; 
    }
  }
  @keyframes rotate {
    0% { transform: translate(-50%, -50%) rotate(0deg); } /* Inicio de la rotación */
    100% { transform: translate(-50%, -50%) rotate(360deg); } /* Rotación completa (360 grados) */
  }
  


    /*El dibujo está estático en pantalla completa y cuando se reduce
    el tamaño a menos de 900px empieza la animación para los lados */
@media (max-width: 900px) {
    #faccion_ilustracion {
      height: 50vh;
      bottom: 0;
      animation: movimiento-izquierda-derecha 20s linear infinite alternate; /* Mitad del tiempo total de la animación */
    }
  }
    
  /* Dibujotes de abajo que se mueven pa los lados */
  @keyframes movimiento-izquierda-derecha {
    0% {
      transform: translateX(-10%);
    }
    50% {
      transform: translateX(-80%);
    }
    50% {
      transform: translateX(-80%);
    }
  }